<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block login_system_title %}
        {% endblock login_system_title %}
    </title>

    {% load static %}
    <!-- ALL CSS LINKING ARE HERE -->
    <!-- Normalize CSS Linking -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp\styles\packages\NormalizeCSS\normalize.css' %}">
    <!-- Bootstrap Linking -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'login_system\styles\customs\css\base_style.css' %}">
    {% block cssarea %}
    {% endblock cssarea %}

</head>

<body>

    <main class="login_system_main">
        <div class="login_system_background">
            <img src="{% static 'login_system\static_images\area_background\login_system_background.jpg' %}"
                alt="Page Background">
        </div>
        {% block panel %}
        {% endblock panel %}
    </main>

</body>

</html>