{% extends 'login_system/base.html' %}

{% load static %}

{% block login_system_title %}
Register | Django Assignment 2
{% endblock login_system_title %}

{% block cssarea %}
<link rel="stylesheet" href="{% static 'login_system\styles\customs\css\register_style.css' %}">
{% endblock cssarea %}

{% block panel %}
<div class="registerBlock container">
    <div class="register-info-wrapper">
        <div class="register-heading">
            <h1>Register</h1>
        </div>
        <div class="register-form">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>

</div>
{% endblock panel %}