{% extends 'webapp/base.html' %}

{% load static %}

{% block title %}
{% endblock title %}

{% block cssarea %}
<link rel="stylesheet" href="{% static 'webapp\styles\customs\css\profile_style.css' %}">
{% endblock cssarea %}

{% block content %}
<div class="profileBlock">
    <div class="container">
        <div class="proff">
            <div class="profile-heading text-center">
                <h1>User Profile</h1>
            </div>
            <div class="profile-data-area">
                <div class="user-profile-img">
                    {% if user.profile.profile_picture %}
                    <img src="/media/{{ user.profile.profile_picture }}" alt="User Profile Image">
                    {% else %}
                    <img src="{% static 'webapp\static_images\default_profile_image\default_user.jpg' %}"
                        alt="User Profile Image">
                    {% endif %}
                </div>
                <div class="user-profile-data">

                    <form method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <button type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}