{% extends 'webapp/base.html' %}

{% load static %}

{% block title %}
Home | Django Assignment 2
{% endblock title %}

{% block cssarea %}
<link rel="stylesheet" href="{% static 'webapp\styles\customs\css\yournewpost_style.css' %}">
{% endblock cssarea %}

{% block content %}
<div class="yournewpostBlock container">
    <div class="yournewpost-heading text-center">
        <h1>Create New Post</h1>
    </div>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</div>
{% endblock content %}