{% extends 'webapp/base.html' %}

{% load static %}

{% block title %}
Your Posts | Django Assignment 2
{% endblock title %}

{% block cssarea %}
<link rel="stylesheet" href="{% static 'webapp\styles\customs\css\yourposts_style.css' %}">
{% endblock cssarea %}

{% block content %}
<div class="yourpostsBlock">
    <div class="container">
        <div class="blogs-heading text-center">
            <h1>Recent Posts</h1>
        </div>
        <div class="blogs-subheading text-center">
            <h5>All Recent Blog Posts</h5>
        </div>
        <div class="blog-content-area mt-30">
            <ul class="blog-item-group">
                <hr />
                {% for post in object_list %}

                {{ user.first_name }}
                {{ post.author.first_name }}
                {% if post.author.first_name == user.first_name %}
                <li class="blog-item">
                    <a href="{% url 'yourpostsview' post.pk %}">
                        <div class="blog-item-figure-area">
                            <img src="/media/{{ post.main_img }}" alt="Blog Main Image">
                        </div>
                    </a>
                    <div class="blog-item-text">
                        <a href="{% url 'yourpostsview' post.pk %}">
                            <div class="blog-post-title">
                                <h3>{{ post.title }}</h3>
                            </div>
                        </a>
                        <div class="blog-post-poster text-muted">
                            <small>Posted By: {{ post.author.first_name }} {{ post.author.last_name }}</small>
                        </div>
                        <div class="blog-posted-datetime text-muted">
                            <small>{{ post.created_at }}</small>
                        </div>
                        <div class="blog-short-text">
                            {{ post.snippet|safe }}
                        </div>
                    </div>
                </li>
                <hr />
                {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock content %}